{{#books}}
  <article class="book" style="background: url('{{book_image}}') no-repeat; background-size: cover; background-color: black;">
    <h2>{{title}}</h2>
    <p>
      <h3>by {{author}}</h3>
    </p>
  </article>
{{/books}}
